<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Product List</h1>
        <a href="{% url 'create_product' %}" class="add-new">Add New Item</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th class = "actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td class="actions">
                        
                        <a href="{% url 'update_product' product.pk %}" class="edit">Edit</a>
                        <a href="{% url 'delete_product' product.pk %}" class="delete">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>